body {

	/*Scroll down to change logo size*/
	background: linear-gradient(to bottom right, rgba(3, 0, 30, 0.15),rgba(116, 3, 192,0.15), rgba(236, 56, 188, 0.15)),
				linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
				url("../img/background.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: "Open Sans", Helvetica;
	margin: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 3px;
}

.container {
	text-align: center;
}

.logo img {
	/* Change logo size for mobile */
	width: 170px;
	animation-name: logo;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	pointer-events: none!important;
}

.logo {
	margin-bottom: 28px;
}

@keyframes logo {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.07);
	}
	100% {
		transform: scale(1);
	}
}

.playercount {
	display: inline-block;
	margin: 20px 15px 0 15px;
	padding: 2px 0;
	background-color: rgba(115, 3, 192, 0.75);
	font-size: 1em;
	color: white;
	text-align: center;
	border-radius: 10px;
	line-height: 27px;
	text-shadow: 0 0 10px #ffffff;
	filter: drop-shadow(0 0 20px #000000);

}

.playercount > p > span {
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 10px;
	background: rgba(139, 5, 228, 0.7);
	margin: 0 2px;
	text-shadow: 0 0 30px #ffffff;

}

.extrapad {
	padding: 0;
}

.ip {
	cursor: pointer;
}

.items {
	display: flex;
	justify-content: space-around;
	flex-basis: 100px;
	padding: 18px 0 10px 0;

}

.item img {
	transition: all 0.2s ease;
	margin-bottom: 7px;
}

.item img:hover {
	transform:scale(1.1);
}

.img {
	width: 80%;
	filter: drop-shadow(0 0 6px #410a41);

}

.title {
	font-weight: bold;
	font-size: 17px;
	color: white;
	text-shadow: 0 0 10px #ffffff;
}

.subtitle {
	color: #cfcfcf;
	font-size: 12px;
	text-shadow: 0 0 10px #cfcfcf;
}

.title,
.subtitle {
	margin: 0;
	padding: 0;
	
}

@media(min-width: 400px) {
	.playercount {
		margin-top: 30px;
		padding: 5px;
	}

	.playercount > p > span {
		padding: 2px 7px;
	}
}

@media(min-width: 600px) {
	.title {
		font-size: 24px;
	}

	.subtitle {
		font-size: 15px;
	}

	.logo img {
		/* Change logo size for desktop */
		width: 370px;
	}
	.img {
		width: 100%;
		filter: drop-shadow(0 0 6px #410a41);
	}
	.items {
		padding: 30px 0 20px 0;
	}
	.playercount {
		font-size: 1.22em;
		padding: 10px;
	}

	.extrapad {
		padding: 0 42.5px;
	}

	.playercount > p > span {
		padding: 4px 7px;
	}
}

@media(min-width: 1000px) {
	.items {
		justify-content: center;
	}

	.item:not(:first-child) {
		margin-left: 90px;
	}
}
/* Stars */

.night {
  position: relative;
  transform: rotateZ(45deg);
  position: absolute;
  top: 10%;
  left: 10%;
}

.shooting_star {
  position: absolute;
  left: 100%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #7303c0, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #7303c0);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #aa1bab, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #aa1bab, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(20) {
  top: calc(50% - -85px);
  left: calc(50% - 84px);
  -webkit-animation-delay: 9748ms;
          animation-delay: 9748ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 9748ms;
          animation-delay: 9748ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 119px);
  left: calc(50% - 181px);
  -webkit-animation-delay: 7022ms;
          animation-delay: 7022ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 7022ms;
          animation-delay: 7022ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 133px);
  left: calc(50% - 50px);
  -webkit-animation-delay: 9134ms;
          animation-delay: 9134ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 9134ms;
          animation-delay: 9134ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -69px);
  left: calc(50% - 37px);
  -webkit-animation-delay: 2592ms;
          animation-delay: 2592ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 2592ms;
          animation-delay: 2592ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -192px);
  left: calc(50% - 132px);
  -webkit-animation-delay: 4438ms;
          animation-delay: 4438ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 4438ms;
          animation-delay: 4438ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -114px);
  left: calc(50% - 225px);
  -webkit-animation-delay: 6355ms;
          animation-delay: 6355ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 6355ms;
          animation-delay: 6355ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -114px);
  left: calc(50% - 204px);
  -webkit-animation-delay: 6733ms;
          animation-delay: 6733ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 6733ms;
          animation-delay: 6733ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -119px);
  left: calc(50% - 169px);
  -webkit-animation-delay: 6473ms;
          animation-delay: 6473ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 6473ms;
          animation-delay: 6473ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - 47px);
  left: calc(50% - 42px);
  -webkit-animation-delay: 5682ms;
          animation-delay: 5682ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 5682ms;
          animation-delay: 5682ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 150px);
  left: calc(50% - 282px);
  -webkit-animation-delay: 9318ms;
          animation-delay: 9318ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 9318ms;
          animation-delay: 9318ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -88px);
  left: calc(50% - 290px);
  -webkit-animation-delay: 9305ms;
          animation-delay: 9305ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 9305ms;
          animation-delay: 9305ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -136px);
  left: calc(50% - 108px);
  -webkit-animation-delay: 8797ms;
          animation-delay: 8797ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 8797ms;
          animation-delay: 8797ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - -128px);
  left: calc(50% - 84px);
  -webkit-animation-delay: 1582ms;
          animation-delay: 1582ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 1582ms;
          animation-delay: 1582ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -119px);
  left: calc(50% - 186px);
  -webkit-animation-delay: 4418ms;
          animation-delay: 4418ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 4418ms;
          animation-delay: 4418ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 118px);
  left: calc(50% - 11px);
  -webkit-animation-delay: 7393ms;
          animation-delay: 7393ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 7393ms;
          animation-delay: 7393ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -100px);
  left: calc(50% - 186px);
  -webkit-animation-delay: 8936ms;
          animation-delay: 8936ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 8936ms;
          animation-delay: 8936ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - -92px);
  left: calc(50% - 170px);
  -webkit-animation-delay: 3836ms;
          animation-delay: 3836ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 3836ms;
          animation-delay: 3836ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -88px);
  left: calc(50% - 117px);
  -webkit-animation-delay: 871ms;
          animation-delay: 871ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 871ms;
          animation-delay: 871ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 62px);
  left: calc(50% - 14px);
  -webkit-animation-delay: 9002ms;
          animation-delay: 9002ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 9002ms;
          animation-delay: 9002ms;
}
.shooting_star:nth-child(1) {
  top: calc(50% - -76px);
  left: calc(50% - 37px);
  -webkit-animation-delay: 7883ms;
          animation-delay: 7883ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 7883ms;
          animation-delay: 7883ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}