@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Phosphate';
    src: url('../fonts/Phosphate/Phosphate-Inline.woff2') format('woff2'),
        url('../fonts/Phosphate/Phosphate-Inline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}