@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Phosphate', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url('/assets/fonts/Phospate/Phosphate-Inline.woff2') format('woff2'),
        url('/assets/fonts/Phospate/Phosphate-Inline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}